<!doctype html>
<html lang="en">
  <head>
    <!-- Required metadata tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />

    <title>Instagram Content Aggregator</title>
  </head>

  <body>
      <div id="subscription_area">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="subscribe_now">
                <h4>Instagram Content Aggregator</h4>
                <p>Enter Instagram Login without capital letters, spaces and @</p>
                <form class="subscribe_form">
                  <div class="input-group">
                     <input type="text" class="form-control" name="email" placeholder="Enter Instagram Login">
                     <span class="input-group-btn">
                          <button class="btn btn-default" type="button">Search</button>
                     </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

  </body>
</html>